<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- Devices running Android 12L (API level 32) or lower -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" /> <!-- Devices running Android 13 (API level 33) or higher -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- To handle the reselection within the app on Android 14 (API level 34) -->
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kaboor"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu">
        <activity
            android:name=".account.passport.AddPassportActivity"
            android:exported="false" />
        <activity
            android:name=".order.DetailHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".notification.NotificationDetailActivity"
            android:exported="false" />
        <activity
            android:name=".account.passport.PassportActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.change.ChangeEmailActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.change.ChangePhoneNumberActivity"
            android:exported="false" />
        <activity
            android:name=".account.help.HelpCenterActivity"
            android:exported="false" />
        <activity
            android:name=".booking.PriceAlertActivity"
            android:exported="false" />
        <activity
            android:name=".booking.ExtraProtectionActivity"
            android:exported="false" />
        <activity
            android:name=".payment.PaymentMethodDetailActivity"
            android:exported="false" />
        <activity
            android:name=".account.AccountDetailActivity"
            android:exported="false" />
        <activity
            android:name=".payment.PaymentMethodActivity"
            android:exported="false" />
        <activity
            android:name=".booking.flight.FlightReturnTicketListActivity"
            android:exported="false" />
        <activity
            android:name=".booking.flight.FlightDepartureTicketListActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.forgot.ForgotNewPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.otp.OtpActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.login.LoginPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".booking.PassengerDetailActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name=".booking.flight.FlightScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.forgot.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.register.RegisterDetailActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".base.MainActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".base.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>